doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title keamanan

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article.deck

      section
        h1 Nama Kelompok
          li Daniel Reinhard Simanjuntak
          li Aron 
          li Guntur
          li Christoper
      
      section
        h2 Kriptografi
          h3 Keamanan komputer

      section
        h1 Pendahuluan :
          h4 Kriptografi adalah suatu ilmu yang mempelajari bagaimana cara menjaga agar data  atau pesan tetap aman saat dikirimkan, dari pengirim ke penerima tanpa mengalami gangguan dari pihak ketiga 

      section
        h1 Proses Utama pada Kriptografi :
          h2 1. Enkripsi
            h3 adalah proses dimana informasi/data yang hendak dikirim diubah menjadi bentuk yang hampir tidak dikenali sebagai informasi awalnya dengan menggunakan algoritma tertentu 
      section
          h2 2. Dekripsi
            h3 adalah kebalikan dari enkripsi yaitu mengubah kembali bentuk tersamar tersebut menjadi informasi awal 
            img(src="images/1.png")
      section
        h1 Algoritma Kriptografi :
          h2 Berdasarkan jenis kunci yang digunakan 
              li Algoritma Simetris
              li Algoritma Asimetris
          h2 Berdasarkan besar data yang diolah 
              li Algoritma Block Cipher
              li Algoritma Stream Cipher
      section
        h1 Berdasarkan jenis kunci yang digunakan 
          h2 Algoritma Simetris
            h3 Algoritma simetris (symmetric algorithm) adalah suatu algoritma dimana kunci enkripsi yang digunakan sama dengan kunci dekripsi sehingga algoritma ini disebut juga sebagai single-key algorithm
            img(src="images/2.png")
      section
        h2 Algoritma Asimetris
          h3 Algoritma asimetris (asymmetric algorithm) adalah suatu algoritma dimana kunci enkripsi yang digunakan tidak sama dengan kunci dekripsi. Pada algoritma ini menggunakan dua kunci yakni kunci publik (public key) dan kunci privat (private key). Kunci publik disebarkan secara umum sedangkan kunci privat disimpan secara rahasia oleh si pengguna. Walau kunci publik telah diketahui namun akan sangat sukar mengetahui kunci privat yang digunakan.
          img(src="images/3.png")
      section
        h1 Berdasarkan besar data yang diolah 
          h2 Block Cipher
            h3 algoritma kriptografi ini bekerja pada suatu data yang berbentuk blok/kelompok data dengan panjang data tertentu (dalam beberapa byte), jadi dalam sekali proses enkripsi atau dekripsi data yang masuk mempunyai ukuran yang sama.
          h2 Stream Cipher
            h3 algoritma yang dalam operasinya bekerja dalam suatu pesan berupa bit tunggal atau terkadang dalam suatu byte, jadi format data berupa aliran dari bit untuk kemudian mengalami proses enkripsi dan dekripsi. 

      
      
    script(src='build/build.js')
